nav {
  display: flex;
  justify-content: space-between;
  height: 68px;
  align-items: center;
}

ul,
li {
  display: inline-block;
}

a {
  text-decoration: none;
  margin-left: 16px;
}

@media (max-width: 600px) {
  .lista__menu {
    display: none;
  }
}

.image-logo {
  width: 96px;
  height: 96px;
}